body {
    margin: 0;
    background: #222;
    color: rgb(6, 66, 244);
    font-family: sans-serif;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

#login {
    margin: 20px;
}

input {
    padding: 12px;
    font-size: 16px;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
}

#game {
    display: none;
}

canvas {
    max-width: 95%;
    border: 3px solid white;
    background: #333;
}
#mobileControls {
    margin-top: 20px;
    user-select: none;
}

#mobileControls button {
    width: 70px;
    height: 60px;
    margin: 4px;
    font-size: 28px;
    border-radius: 12px;
    border: none;
    background: white;
    color: black;
}

#mobileControls button:active {
    transform: scale(0.9);
    background: #ccc;
}

/* PCではスマホ用ボタンを隠す */
@media (min-width: 700px) {
    #mobileControls {
        display: none;
    }
}
#chat {
    width: 800px;
    max-width: 95%;
    margin: 10px auto;
}

#chatMessages {
    height: 150px;
    overflow-y: auto;
    background: #222;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
}

#chatInputArea {
    display: flex;
    gap: 5px;
}

#chatInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

#chatSend {
    padding: 10px 18px;
    font-size: 16px;
    cursor: pointer;
}
